
@font-face {
    font-family: 'popin-sb';
    src: url("./static/popins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: 'popin-lt';
    src: url("./static/popins/Poppins-Light.ttf");
}
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "popin-lt";
}
.body{
    width: 100%;
    height: 100vh;
    
}
.container{
    height: 100%;
    width: 100%;
   
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1{
    width: 40%;
    height: 100%;
    background-color: #F4F9FF;
    background-size: cover;
    background-position: center;

    border-radius: 8px 0 0 8px;
    overflow: hidden;

}
.div2{
    width: 60%;
    height: 100vh;
    
}
.div1 div{
    width: 80%;
    aspect-ratio: 1;
    background-image: url("./static/image.png");
    background-size: cover;
    background-position: center;

}
.containe{
    width: 60%;
    height: 100%;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}
.p-small{
    color: #757575; 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-large{
    color: #333;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.inputs{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    font-size: .95rem;
}
.inputs input{
    padding: .7rem;
    width: 25rem;
    border-radius: .5rem;
    border: 1px solid #D8D8D8;
    background: #F8F8F8;
}
.div2 button{
    border: none;
    border-radius: .5rem;
    width: 25rem;
    padding: .7rem 0;
    background-color: #0067FF;
    font-size: 1rem;
    color: white;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 25rem;
    height: 1px;
    border: solid .5px #D8D8D8;
}
.or p{
    position: absolute;
    padding: 0 1rem;
    z-index: 2;
    background-color: white;
}
.logos{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.logo{
    width: 2rem;
    aspect-ratio: 1;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.logo svg,path{
    width: 1.5rem;
    aspect-ratio: 1;
    fill: #0067FF;
}

.body1{
    background-color: white;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

}
.header{
width: 100%;
display: flex;    
gap: 73%;   
border-bottom: solid 1px rgba(0, 0, 0, 0.05);
/* box-shadow: 0px 2px 20px rgba(0,0,0,0.05); */

}
.logo{
display: flex;
justify-content: space-between;
align-items: center;
height: 4rem;
font-size: .8rem;
gap: 1rem;
margin-left: 1.5rem;
}
.logo p{
  width: 10rem;
}
.logoImg{
width:48px ;
height: 20px;
}
.logoImg img{
width:48px ;
height: 20px;
object-fit: contain; 
}
.adminInfo{
display: flex;
justify-content: space-between;
align-items: center;
width: 4rem;
gap: .8rem;
}
.adminName{

font-size: .8rem;
}
.adminImage{
height: 2.5rem;
aspect-ratio: 1;
border-radius: 50%;
}
.notifification{
width: 2rem;
aspect-ratio: 1;
}
.notifification svg path{
stroke: #0067FF;

}
.adminImage img{
width: 2.5rem;
aspect-ratio: 1;
object-fit: contain;
border-radius: 50%;
}
.drop{
padding-top: 1rem;
}
.drop path{
stroke: #0067FF;
}


/* sidebar */

.bodyContainer{
width: 100%;
height: 90vh;
display: flex;

}
.sidebar{
width: 20%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

/* box-shadow: 2px 0px 20px rgba(0,0,0,0.05); */
padding: 2rem 0;
}
.sidebarMenus{
display: flex;
flex-direction: column;
gap: .4rem;
margin-top: 1rem;
}

.menus a{
display: flex;
align-items: center;
gap: 1rem;
color: inherit;
padding: .6rem;
border-radius: .5rem;
}
.menus a:hover{
  background-color: #0067FF; 
  color: white;
  
    .icon path{
    stroke: white;
    }
    .dashboadIcon path{
      fill: white;
      
      }
}
.path{
    fill: none;
}
.menus div:last-child{
width: 10rem;
}
.dashboadIcon path{
fill: #757575;

}
.icon path{
stroke: #757575;
}
.container1{
width: 80%;
height: 89,9vh;
background-color: #F7F7FB;
display: flex;
align-items: flex-end;
justify-content: flex-end;
}
.containter-child{
    width: 97%;
    height: 95%;
    border-radius: .3rem;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.02);
}


.ajouter a{
    margin: 2rem 0 0 2rem;
    border: solid 1px #179DE3;
    border-radius: .5rem;
    color: black;
    display: flex;
    justify-content: center;
    padding: 0 .4rem;
}
.ajouter{
    font-size: .1rem;
    margin-bottom: 2rem;
    width: 12rem;
}
#plus,.pat{
    width: 1rem;
    fill: black;
}
.ajouter p{
    padding: .4rem;
    font-size: 1rem;
}
.ajouter p:hover{
  color: white;
}
.ajouter a:hover{
    background-color: #179DE3;
    color: white;
    border: none;
}
.ajouter a:hover .pat{
    fill: white;
}

table {
    width: 95%;
    margin-left: 2.5%;

    border-collapse: collapse;
  }
  
  thead th {
    
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
  }
  
  tbody td {
    text-align: center;
    padding: 8px;
    margin:1rem;
  }
  table tr{
    margin: 1rem 0;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    margin:1rem;
  }
  
  tbody tr:hover {
    background-color: #e9e9e9;
  }
  
  table img {
    max-width: 100px;
    border-radius: 5px;
  }
  
  a{
    text-decoration: none;
  }
 

.container-child form{
    display: flex;    
    width: 100%;
    justify-content: center;
}


.svg{
    fill: white;
    height: 5rem;
    position: relative;
  }

  .visible button,.montant button{
    padding: .7rem;
    font-size: .8rem;
    border: none;
    border-radius: .3rem;
    background-color: #179DE3;
    margin-top: .8rem;
    color: white;
    cursor: pointer;
  }
  textarea{
    height: 100px;
    padding: 5px;
    border-radius: .25rem;
    border: solid 1px #616161;    

  }
  .contact{
    display: flex;
    margin-left: 2rem;
    gap: 3rem;
  }
  #div2{
    border: solid 1px rgba(0, 0, 0,0.1);
    padding: 10px;
    border-radius: .8rem;
    width: 20rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    margin-top: 2rem;
  }
  
 
  .links{
    display: flex;
    width: 100%;
    gap: .5rem;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    margin-bottom: 1rem;
  }
  .hidden{
    display: none;
    }

    /* INDEX */

    #body{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .index-conterainer{  
      border: solid 1px rgba(0, 0, 0,0.1);    
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      border-radius: .8rem;
      gap: 2rem;
      background-color: rgba(0, 0, 0,0.01);
    }
    .child{
      display: flex;
      flex-direction: column;
      gap: .6rem;

    }
    .child input{
      padding: .8rem .5rem;
      width: 20rem;
      border-radius: .5rem;
      border: solid 1px rgba(71, 24, 24, 0.1);
    }
    .index-conterainer button{
      border: none;
      padding: .8rem;
      background-color: #179DE3;
      color: white;
      border-radius: .5rem;
      font-size: .5rem;
    }

    .ajouter-client{
      display: none;
    }
    .visible{
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0,.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .visible .client-child{
      padding: 2rem;
      background-color: white;
      border: solid 1px rgba(0, 0, 0,0.5);
      border-radius: .8rem;

      
    }
    .visible .input2,.montant .input2{
      width: 20rem;
      padding: .5rem;
      border-radius: .3rem;
      border: solid 1px rgba(0, 0, 0,0.1);

    }
    .visible form,.montant form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      font-size: .8rem;
    }
    .visible div,.montant div{
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    button{
      cursor: pointer;
    }
    .col{
      flex-direction: column;
    }
  
.montant p{
  padding: 1rem;
  margin: 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.result{
  width: 50%;
}
h5{
  font-size: 1rem;
  margin-top: .5rem;
}
#supprimer{
  padding: .7rem;
  font-size: .8rem;
 
  border-radius: .3rem;
  background-color: #179DE3;
  margin-top: .8rem;
  color: white;
  cursor: pointer;
  
}